<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.broadcastreceiverpractice">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".OutCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".SdCardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.example.user.broadcastreceiverpractice.SmsReceiver">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AppStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <!-- 想让action事件生效 还需要 配置一个data -->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WithoutOrderBroadrReceiver">
            <intent-filter>
                <action android:name="com.example.broadcast_without_order" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CustomReceiverOne">
            <intent-filter>
                <action android:name="com.example.send_order_broadcast" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CustomReceiverTwo">
            <intent-filter>
                <action android:name="com.example.send_order_broadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>